body{
    background-color:#242424;
}
h2, h3, h5, h6,p,span,a {
    color: #d1d1d1;
}
h1{
    color: #c49a00;
}
h4{
    color: #c9ac40;
    font-size: 19px;
}
hr{
    background-color: #d1d1d1;
    color: #d1d1d1;
    width: 80%;
    height: 1px;
    border: none;
}
span{
    color: #d1d1d1;
    font-size: 20px;
}
button {
    width: 15vh;
    border-radius: 2px;
    background-color: #bd9400;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 4px 2px;
    cursor: pointer;
}
strong {
    color: #c9ac40;
}


button:focus{
    background-color: #806400;
}


@media (min-width: 1200px) {
    .topmenu{
        visibility: hidden;
    }
    .sidemenu{
        visibility: visible;
    }
}


@media (max-width: 1199px) and (min-width: 992px) {
    .topmenu{
        visibility: hidden;
    }
    .sidemenu{
        visibility: visible;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .topmenu{
        visibility: visible;
    }
    .sidemenu{
        visibility: hidden;
    }
}
@media (max-width: 767px) and  (min-width: 576px) {
    .topmenu{
        visibility: visible;
    }
    .sidemenu{
        visibility: hidden;
    }
}
@media (max-width: 575px) {
    .topmenu{
        visibility: visible;
    }
    .sidemenu{
        visibility: hidden;
    }
}